@charset "UTF-8";

#mob-global-footer-container {
  background-color: #1a191e;
  color: $clr-white;
  position: relative;
  z-index: 500;

  .inner {
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    font: 400 14px/1.285 $font-standard;
  }
  ul {
    //    @include menu-nostyle;
    padding: 0;
    list-style: none;
    display: block;
  }
  #footer-top {
    background-color: #333238;
    padding: 30px 0;
  }
  #footer-feedback,
  #footer-newsletter {
    float: left;
    width: 50%;
    min-height: 95px;
    input {
      margin-top: 20px;
      width: 100%;
    }
  }
  #footer-feedback {
    float: left;
    padding-right: 95px;
    border-right: 1px solid #5c5b60;
    .content {
      float: left;
    }
    .actions {
      float: right;
      @include center-vertical(95px);
    }
    .title {
      font: 700 20px/1.25 $font-standard;
      color: #d6d6d7;
    }
    .body {
      font: 500 18px/1.4 $font-standard;
      color: #d6d6d7;
    }
    .button {
      padding: 0.4em 1em;
    }
  }
  #footer-newsletter {
    padding-left: 95px;
    .title {
      font: 700 20px/1.25 $font-standard;
      color: #d6d6d7;
    }
    form {
      position: relative;
    }
    .button-arrow {
      background: none;
      width: 15px;
      padding: 0;
      position: absolute;
      right: 5px;
      top: 20px;
      bottom: 0;
    }
    .error-msg {
      color: #fff;
      background-color: #da2713;
      padding: 6px;
      border-radius: 6px;
      position: absolute;
      top: 22.5px;
      left: 10px;
      right: 25px;
      cursor: pointer;
      display: none;
    }
  }
  #footer-socialmedia {
    background-color: #222127;
    padding: 2em 0;
    .title {
      float: left;
      width: 20%;
      color: #c1bfc2;
      font: 700 20px/1.25 $font-standard;
    }
    ul {
      float: right;
      width: 80%;
      margin: 0;
      li {
        float: left;
        margin-left: 52px;
        &:first-child {
          margin-left: 0;
        }
        a {
          display: block;
        }
      }
    }
  }
  #footer-links {
    padding: 20px 0;
    background-color: #28272d;
    ul {
      float: left;
      width: 16.66%;
      color: #7d7c81;
      padding-right: 1em;
      li {
        font: 400 14px/18px $font-standard;
        margin-bottom: 6px;
        &.title {
          font: 700 16px/1.25 $font-standard;
          height: 52px;
          color: #c1bfc2;
        }
      }
    }
  }
  #footer-bottom {
    padding: 20px 0 30px;
    background-color: #1a191e;
    ul {
      color: #747378;
      li {
        display: inline;
        &:after {
          color: #333238;
          content: ' |';
          display: inline-block;
          margin: 0 1ex;
        }
        &.copyright {
          float: right;
          &:after {
            content: none;
          }
        }
      }
    }
  }
}
