@charset "UTF-8";

#mob-global-header-container,
#mob-global-footer-container,
#mob-global-popup-container {

  @import "normalize";

  font-family: $font-standard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 750;

  * {
    box-sizing: border-box;
  }
  a {
    font: inherit;
    color: inherit;
    text-decoration: none;
  }
  h1, h2, h3, p {
    margin: 0;
  }
  .inner {
    width: 1000px;
    margin: 0px auto;
    position: relative;
  }

  // FORMS
  input,
  button,
  textarea,
  select {
    color: #2e2e2f;
    outline: 0;
    border: none;
    box-shadow: none;
    box-shadow: 0px 0px 1px transparent;
    &:focus {
      outline: 0;
      animation: form-focus 0.5s ease-out 1; /* IE 10+ */
      box-shadow: 0px 0px 1px #2e2e2f;
    }
  }
  input[type=text],
  input[type=password] {
    display: inline-block;
    height: 35px;
    border-radius: 35px;
    padding: 0 15px;
  }
  button,
  input[type=submit] {
    @include button();
  }

  .button {
    @include button();
  }
  .button.color-green {
    background-color: $clr-green;
    color: #fff;
  }
  .button.color-dark {
    background-color: $clr-dark;
    color: #fff;
  }
  .button.color-white {
    background-color: #fff;
    color: $clr-dark;
  }
  .button.width-full {
    display: block;
    text-align: center;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 400 16px/20px $font-standard;
    color: #2e2e2f;
    a {
      font: 700 16px/20px $font-standard;
      color: #1aa43f;
    }
  }
  .list-arrow {
    font: 700 16px/20px $font-standard;
    color: #1aa43f;
    li {
      margin-top: 20px;
      padding-left: 15px;
      &:before {
        content: '›';
        display: inline-block;
        width: 15px;
        margin-left: -15px;
      }
    }
  }

  .widgets {
    overflow: hidden;
  }
  .widget-cat {
    display: block;
    float: left;
    height: 120px;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #f8f7f4;
    font: 500 20px/1 $font-mobistar;
    color: #2e2e2f;
    text-align: center;
    position: relative;
    padding-top: 60px;
    margin-top: 40px;
    margin-left: 6px;
    &:first-child { margin-left: 0; }
    img {
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: -40px;
      right: 0;
      left: 0;
      margin: 0px auto;
      border-radius: $radius-border-medium;
    }
  }
  .widget-green {
    display: block;
    float: left;
    background-color: #1aa43f;
    border-radius: $radius-border-medium;
    padding: 10px;
    position: relative;
    text-align: center;
    span {
      display: block;
      font: 500 16px/20px $font-mobistar;
      color: #fff;
    }
  }
  .widget-social {
    color: #d6d6d6;
    display: block;
    font-size: 16px;
  }

  // SOCIAL MEDIA
  %widget-social {
    &:before {
      width: 45px;
      height: 45px;
      margin: 0px auto 1em;
      display: block;
      border-radius: $radius-border-medium;
      background-image: url('../img/social-media-icons-white.png');
      background-repeat: no-repeat;
      content: '';
    }
  }

  .widget-social {
    &.facebook   { @include widget-social(#3b5998, 0); }
    &.twitter    { @include widget-social(#45cdfd, -53px); }
    &.youtube    { @include widget-social(#da2713, -103px); }
    &.google     { @include widget-social(#da2713, -153px); }
    &.instagram  { @include widget-social(#47799e, -203px); }
    &.foursquare { @include widget-social(#20b8e9, -253px); }
    &.linkedin   { @include widget-social(#007caf, -303px); }
    &.newsletter { @include widget-social(#1daa45, -353px); }
    &.rss        { @include widget-social(#ff6633, -403px); }
  }
}


#mob-global-notification {
  background-color: #000;
  box-shadow: 0px 0px 25px #000;
  text-align: center;
  font: 700 14px/16px $font-standard;
  color: white;
  padding: 12px 6px;
  position: relative;
  z-index: 775;
  display: none;
  &.level-succes { background-color: #28913A; }
  &.level-warning { background-color: #FAA61A; }
  &.level-danger { background-color: #F04E23; }
  &.level-info { background-color: #729FC0; }
}

#mob-global-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 650;
  display: none;
  background-color: black;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
