@charset "UTF-8";

#mob-global-header-container {

  .nav {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    float: left;
    li {
      display: inline-block;
    }
  }

  .inner {
    padding-left: 160px;
  }

  #mob-global-header-bar-top {
    background-color: #2f2f30;
    height: 42px;
    font: 400 13px/1 $font-mobistar;
    color: #999999;
    .logo {
      display: block;
      background: url('../img/logo.png') no-repeat center transparent;
      @include image-2x('../img/logo@2x.png', 125px, 71px);
      position: absolute;
      top: 30px;
      left: 0;
      width: 125px;
      height: 75px;
      @include hide-text;
    }
    .nav {
      a {
        height: 42px;
        line-height: 42px;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        &:hover {
          color: #ffffff;
        }
      }
    }
    .nav.customertype {
      margin-right: 30px;
      a {
        padding: 4px;
        margin-right: 20px;
        line-height: 34px;
        &.active {
          color: $clr-white;
          border-bottom: 4px solid $clr-green;
        }
      }
    }
    .nav.help {
      margin-right: 30px;
      a {
        margin-right: 10px;
        &:before {
          @include mob-header-sprite;
        }
        &.forum:before {
          width: 20px;
          background-position: -140px -28px;
        }
        &.contact:before {
          width: 20px;
          background-position: -240px -28px;
        }
        &.center:before {
          width: 20px;
          background-position: -340px -28px;
        }
      }
    }
    .nav.lang-sel {
      a {
        margin-right: 10px;
        &.active {
          font-weight: 700;
        }
      }
    }
    .search {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: top;
      position: relative;
      line-height: 42px;
      float: right;
      label {
        display: none;
      }
      input[type=text] {
        background: url('../img/search.png') no-repeat 175px 5px #5d5c5c;
        color: #bebebd;
        height: 25px;
        width: 200px;
        color: #fff;
      }
      ::-webkit-input-placeholder { color: #bebebd; }
      :-moz-placeholder { color: #bebebd; }
      ::-moz-placeholder { color: #bebebd; }
      :-ms-input-placeholder { color: #bebebd; }
    }
  }

  #mob-global-header-bar-bottom {
    height: 70px;
    background: url('../img/bg-header.png') repeat-x top left #fcfcfc;
    color: $clr-black;
    .nav {
      float: right;
      > li {
        float: left;
        > a {
          font: 400 18px/1 $font-mobistar;
          display: block;
          line-height: 68px;
          padding: 2px 15px 0;
          margin-left: 5px;
          border-radius: 6px 6px 0 0;
          &:hover,
          &.hover {
            background-color: #fff;
          }
        }
        &#nav-item-home a {
          @include hide-text;
          font-size: 0;
          padding: 0;
          width: 30px;
          background-image: url('../img/icons-header.png');
          @include image-2x("../img/icons-header@2x.png", 800px, 100px);
          background-repeat: no-repeat;
          background-position: -50px -15px;
          line-height: 68px;
          padding: 2px 10px 0 10px;
        }
        &#nav-item-cz a {
          .button {
            margin-left: 10px;
            background-color: $clr-green;
            display: inline-block;
            padding: 6px 10px;
            border-radius: 6px;
            color: $clr-white;
            font: 400 14px/1 $font-standard;
            &:before {
              @include mob-header-sprite;
              width: 20px;
              line-height: 30px;
              background-position: -640px -35px;
            }
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 0 0 $radius-border-medium $radius-border-medium;
    overflow: hidden;
    display: none;
    h1 {
      @include type-h1;
    }
  }

  /**
   * OVERLAYS
   */
  #overlay-ps {
    .col {
      width: 50%;
      float: left;
      padding: 20px 20px;
      &:first-child {
        background: url('../img/separator-line.png') right 25px no-repeat transparent;
      }
    }
    .widget-cat {
      width: 146px;
    }
    .list {

    }
  }

  #overlay-hs {
    .col.col-1 {
      width: 245px;
      margin: 20px;
      float: left;
    }
    .col.col-2 {
      width: auto;
      margin: 20px 20px 20px 290px;
    }
    .widget-green {
      width: 130px;
      height: 150px;
      margin-left: 10px;
      &:first-child {
        margin-left: 0px;
      }
    }
    .list-arrow {
      padding: 0;
      li {
        margin: 0 0 0;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #eeeeee;
        &:first-child {
          border-top: none;
          padding-top: 0;
        }
      }
    }
    #personal-support {
      background-color: #f4f3ef;
      height: 60px;
      border-radius: 6px;
      margin-top: 20px;
      padding: 0 1em;
      span {
        float: left;
      }
      .info {
        line-height: 60px;
      }
      .actions {
        float: right;
        margin-top: 10px;
      }
    }
  }

  #overlay-store {
    .container {
      padding: 20px 20px;
      overflow: hidden;
      &.dark {
        background-color: #303031;
        color: #fff;
      }
    }
    .widget-cat {
      width: 125px;
      margin-left: 10px;
      font-size: 18px;
      &:first-child {
        margin-left: 0;
      }
    }
    .shoppingcart {
      .info {
        float: left;
        line-height: 40px;
        &:before {
          content: '';
          display: inline-block;
          height: 40px;
          width: 40px;
          background: url("../img/icons-header.png") -430px -32px no-repeat transparent;
          @include image-2x("../img/icons-header@2x.png", 800px, 100px);
          vertical-align: middle;
        }
      }
      .actions {
        float: right;
        position: relative;
        a {
          margin-left: 10px;
        }
        .fade {
          display: none;
          position: absolute;
          top: -1px; right: -1px; bottom: -1px; left: -1px;
          background-color: #303031;
          z-index: 5;
          opacity: 0.7;
        }
      }
    }
  }

  #overlay-blog {
    .container {
      padding: 20px 20px;
      overflow: hidden;
      &.dark {
        background-color: #303031;
        color: #fff;
      }
    }
    .col.col-1 {
      width: 245px;
      float: left;
    }
    .col.col-2 {
      width: auto;
      margin-left: 270px;
    }
    .widget-green {
      width: 130px;
      height: 150px;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    .widget-social {
      width: 200px;
      text-align: left;
      &:before {
        float: left;
        margin-right: 14px;
      }
    }
    .list-arrow {
      li {
        &:first-child {
          margin-top: 0;
        }
      }
    }
    #overlay-blog-sections {
//      margin-top: 15px;
    }
    #overlay-blog-socialmedia {
      .info {
        font: 700 16px/20px $font-standard;
        color: #fff;
        float: left;
        line-height: 45px;
      }
      .widgets {
        float: right;
      }
      .widget-social {
        float: left;
        line-height: 45px;
      }
    }
  }

  #overlay-cz {
    #overlay-cz-info {
      float: left;
      width: 275px;
      margin: 55px 50px 20px 20px;
      .list {
        li {
          border-top: 1px solid #eeeeee;
          padding: 1em 0;
          &:first-child {
            border-top: none;
          }
        }
      }
    }
    #overlay-cz-register {
      float: left;
      width: 315px;
      margin: 20px 10px 20px 0;
      .wrap {
        background-color: #2e2e2f;
        color: #fff;
        border-radius: 6px;
        padding: 20px;
        height: 200px;
      }
      .button {
        margin: 20px 0;
      }
      a.more {
        font-weight: bold;
        color: $clr-green;
        &:before {
          content: '› ';
        }
      }
    }
    #overlay-cz-login {
      float: left;
      width: 315px;
      margin: 20px 0 20px 0;
      .wrap {
        background-color: #1aa43f;
        color: #fff;
        border-radius: 6px;
        padding: 20px;
        height: 200px;
      }
      input {
        margin-bottom: 10px;
        width: 100%;
      }
      .info {
        font-size: 14px;
        margin-top: 10px;
        a {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

}
