@charset "UTF-8";

/**
 * VARIABLES
 */
$clr-green:        #1aa43f;
$clr-white:        #ffffff;
$clr-black:        #000000;
$clr-dark:         #2e2e2f;
$clr-grey:         #555554;

$radius-border-medium: 6px;
$font-mobistar: "ghf-mobistar", "Mobistar", Helvetica, Arial, sans-serif;
$font-standard: Helvetica, Arial, sans-serif;

/**
 * FONTS
 */
@font-face {
  font-family: 'ghf-mobistar';
  src: url('../fonts/mobistarmedmobistar.eot');
  src: url('../fonts/mobistarmedmobistar.eot?iefix') format('eot'),
  url('../fonts/mobistarmedmobistar.woff') format('woff'),
  url('../fonts/mobistarmedmobistar.ttf') format('truetype'),
  url('../fonts/mobistarmedmobistar.svg#mobistarmedmobistar') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ghf-mobistar';
  src: url('../fonts/mobistarregmobistar.eot');
  src: url('../fonts/mobistarregmobistar.eot?iefix') format('eot'),
  url('../fonts/mobistarregmobistar.woff') format('woff'),
  url('../fonts/mobistarregmobistar.ttf') format('truetype'),
  url('../fonts/mobistarregmobistar.svg#mobistarregmobistar') format('svg');
  font-weight: 400;
  font-style: normal;
}

/**
 * HELPERS (MIXINS)
 */
@mixin mob-header-sprite() {
  content: '\00a0';
  display: inline-block;
  background-image: url('../img/icons-header.png');
  @include image-2x("../img/icons-header@2x.png", 800px, 100px);
  background-repeat: no-repeat;
}

// Zeldman's image replacement technique
@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Michael Czernow vertical align hack
@mixin center-vertical($height) {
  height: $height;
  /* The ghost, nudged to maintain perfect centering */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  /* The element to be centered, can also be of any width and height */
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

// TYPOGRAPHY
@mixin type-h1 {
  font: 400 28px/30px $font-mobistar;
  color: #2e2e2f;
  margin-bottom: 25px;
}

@mixin type-h2 {
  font: 500 20px/1 $font-mobistar;
}

// ELEMENTS
@mixin button($background: #fff, $color: #2e2e2f) {
  font: 700 15px/1.1 $font-standard;
  border: none;
  border-radius: 2em;
  border: 1px solid transparent;
  padding: 0.8em 1em;
  background: $background;
  color: $color;
  text-decoration: none;
  height: auto;
  display: inline-block;
  @include transition(all, .4s, ease-in-out);
  a:hover,
  &:hover {
    border-color: $clr-grey;
    @include transition(all, .4s, ease-in-out);
  }
}

@mixin widget-social($color, $position) {
  text-align: center;
  display: block;
  &:before {
    @extend %widget-social;
    background-color: $color;
    background-position: -3px $position;
    transition: background-color 0.125s ease-out;
  }
  &:hover {
    &:before {
      background-color: lighten($color, 15);
    }
  }
}

@mixin transition($transition-property, $transition-time, $method) {
  /* CSS3 Transitions */
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@import "global";
@import "header";
@import "footer";
@import "popup";
@import "searchBox";
