#mob-global-popup-backdrop {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 995;
  opacity: 0.85;
  filter: alpha(opacity=85);
  cursor: pointer;
  display: none;
}
#mob-global-popup-container {
  position: relative;
  z-index: 996;
}
#mob-global-popup {
  position: fixed;
  background-color: white;
  top: 30px; bottom: 30px;
  right: 0; left: 0;
  width: 650px;
  margin: auto;
  border-radius: 6px;
  //  padding: 6px;
  overflow: hidden;
  display: none;
//  overflow: auto;

  h2,
  .contextual-links-wrapper,
  .user-picture,
  .submitted { // remove all unnessary stuff
    display: none;
  }

  .content {
    padding: 45px 30px;
    color: #585858;
    position: relative;
  }

  .form-item {
    margin-top: 1em;
    margin-bottom: 1em;
    .description {
      font-size: 0.85em;
    }
  }

  .webform-client-form {
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 6px;
    }
    textarea {
      border: 1px solid #2e2e2f;
      border-radius: 6px;
    }
    .form-submit {
      position: absolute;
      right: 30px;
      bottom: 15px;
      background-color: #1daa45;
      color: #fff;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  a.close_window {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: #333238;
    &:hover {
      text-decoration: underline;
    }
  }
}
