@charset "UTF-8";

#mob-global-header-container {
/**
 * This CSS file contain all CSS classes
 * for the default completion normal size
 *
 * @author      FIBO team
 * @copyright (C) France Telecom
 */


 /*Default Design*/
.cmpl.box {
    background-color: #FFF;
    width: 276px;
    top: 6px;
    left: -2;
    _filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999',Direction=135,Strength=2);
    overflow: hidden;
    border: 2px solid #999;
    -moz-box-shadow: 1px 1px 12px #999;
    -webkit-box-shadow: 1px 1px 12px #999;
    box-shadow: 1px 1px 12px #999;
    z-index: 900;
    font-family: Helvetica, Arial, sans-serif;
}

.cmpl .label {
    color: #333;
    font-family: arial, sans-serif;
    font-size: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* add shadow on top of default and toptrend block */
.cmpl .label.blockTop {
    position: relative;
/*    -webkit-box-shadow: inset 0 5px 8px -2px rgba(100, 100, 100, 0.4);
    box-shadow: inset 0 5px 8px -2px rgba(100, 100, 100, 0.4);
    padding-bottom: 8px;*/
    color: #585858;
    border-top: 1px solid #e5e4e0;
}

/* common suggestions */
.cmpl .suggestion {
    border-collapse: collapse;
    cursor: pointer;
/*    height: 30px;
    overflow: hidden;*/
    white-space: nowrap;
    text-align: left;
    color: #333;
    padding: 0 10px 5px 30px;
    color: #1daa45;
    position: relative;
    margin-left: 10px;
}
.cmpl .suggestion:before {
    content: ' ›';
    position: absolute;
    margin-left: -10px;
}
.cmpl .suggestion b {
    font-weight: normal;
}

.cmpl .suggestion.highlighted {
    /*background-color: #979797;*/
    color: black;
}

.cmpl .suggestion .content {
    display: block;
/*    font-family: arial, sans-serif;
    font-size: 15px;
    margin: 5px 0 0 3px;
    padding: 0;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

/* DIRECTLINK */
.cmpl .suggestion.link .content {
    color: #0044BB;
    text-decoration: underline;
}

.cmpl .suggestion.link .rightLabel {
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #979797;
    float: right;
    line-height: 30px;
}

.cmpl .suggestion.link.highlighted .content,
.cmpl .suggestion.link.highlighted .rightLabel {
    color: #FFF;
}

.cmpl .label {
    font-size: 16px;
    font-weight: bold;
/*    height: 25px;*/
    line-height: 25px;
    overflow: hidden;
    padding: 8px 20px;
}

.cmpl .label:hover{
    color: black;
}

.cmpl.box {
    border: none;
    right: 0;
    top: 5px;
    width: 200px;
    border-radius: 6px;
    background-color: #f8f7f4;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    padding-left: 0;
}

.cmpl .suggestion.highlighted{
    /*background-color: #EEE;
    color: #333 !important;*/
}
.cmpl .suggestion{
  padding: 0 20px;
  line-height: 1.5;
  margin: 6px 0;
  &:before {
    content: none;
  }
  > div {
    margin: 0;
  }
  .content {
    font-size: 13px;
    margin: 0;
  }
}

.langContainer {
    margin: 7px 0 0 10px;
    vertical-align: top;
    display: inline-table;
    font-family: Arial;
}

.cartouche{
    display: inline-table;
}

.lang{
    font-size: 11px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.selected{
    color: #F60;
}

.cmpl .label.blockTop {
  background-color: #e5e4e0;
  font-size: 14px;
  padding: 6px 8px;
}

a#closeSearch {
  left: 190px !important;
  top: 25px !important;
  z-index: 900 !important;
}

}
