<div id="mob-global-backdrop"></div>

<div id="mob-global-notification"></div>

<div id="mob-global-header-container">

  <div id="mob-global-header-bar-top">
    <div class="inner">
      <h1><a href="{{url.home}}" title="Mobistar" class="logo">Mobistar</a></h1>
      <ul class="nav customertype">
        <li><a class="residential active" href="/nl">{{header.top.clients-personal}}</a></li>
        <li><a class="business" href="{{url.business-mobistar-professionnels}}">{{header.top.clients-professional}}</a></li>
      </ul>
      <ul class="nav help">
        <li><a class="forum" href="{{url.forum}}">{{header.top.forum}}</a></li>
        <li><a class="contact" href="{{url.contact}}">{{header.top.contact}}</a></li>
        <li><a class="center" href="{{url.mobistar-center}}">{{header.top.mobistar-center}}</a></li>
      </ul>
      <ul class="nav lang-sel">
        <li><a class="lang-fr" href="/fr" title="fr">FR</a></li>
        <li><a class="lang-nl" href="/nl" title="nl">NL</a></li>
      </ul>
      <div class="search">
        <div class="inner-search">
          <div class="cartouche"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="mob-global-header-bar-bottom">
    <div class="inner">
      <ul class="nav">
        <li id="nav-item-home">
          <a href="{{url.home}}" title="Home">{{header.bottom.home}}</a>
        </li>
        <li id="nav-item-ps">
          <a href="{{url.ps}}">{{header.bottom.products-services}}</a>
          <div id="overlay-ps" class="overlay">
            <div class="col">
              <h1>{{overlay.ps.mobile-offers}}</h1>
              <div class="widgets">
                <a href="{{url.overlay.ps.sample}}" class="widget-cat"><img src="/common-header/img/sections/gsm-subscriptions.png" alt="GSM subscriptions" /><span>{{overlay.ps.gsm-subscriptions}}</span></a>
                <a href="{{url.overlay.ps.sample}}" class="widget-cat"><img src="/common-header/img/sections/reload-cards.png" alt="Reload cards" /><span>{{overlay.ps.reload-cards}}</span></a>
                <a href="{{url.overlay.ps.sample}}" class="widget-cat"><img src="/common-header/img/sections/internet-mobile.png" alt="Internet Mobile" /><span>{{overlay.ps.internet-mobile}}</span></a>
              </div>
              <ul class="list list-arrow">
                <li><a href="{{url.overlay.ps.sample}}">Toutes les options et services disponibles</a></li>
                <li><a href="{{url.overlay.ps.sample}}">Tarifs internationnaux</a></li>
              </ul>
            </div>
            <div class="col">
              <h1>Nos guides d’achats d’appareils</h1>
              <div class="widgets">
                <a href="{{url.overlay.ps.sample}}" class="widget-cat"><img src="/common-header/img/sections/gsm-smartphones.png" alt="GSM and Smartphones" /><span>GSM's and Smartphones</span></a>
                <a href="{{url.overlay.ps.sample}}" class="widget-cat"><img src="/common-header/img/sections/tablets.png" alt="Our tablets" /><span>Our tablets</span></a>
                <a href="{{url.overlay.ps.sample}}" class="widget-cat"><img src="/common-header/img/sections/accessories.png" alt="Accessories" /><span>Find an accessory</span></a>
              </div>
              <ul class="list list-arrow">
                <li><a href="{{url.overlay.ps.sample}}">Services disponibles pour vos appareils<br />(assurances, Recylcage, Reprise de votre ancien appareil)</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li id="nav-item-store">
          <a href="#">{{header.bottom.store}}</a>
          <div id="overlay-store" class="overlay">
            <div class="container">
              <div class="widgets">
                <a class="widget-cat" href="{{url.overlay.store.subscriptions}}"><img src="/common-header/img/sections/gsm-subscriptions.png" /><span>GSM subscriptions</span></a>
                <a class="widget-cat" href="{{url.overlay.store.prepaid}}"><img src="/common-header/img/sections/reload-cards.png" /><span>Reload cards</span></a>
                <a class="widget-cat" href="{{url.overlay.store.mobile-internet}}"><img src="/common-header/img/sections/internet-mobile.png"/><span>Internet mobile</span></a>
                <a class="widget-cat" href="{{url.overlay.store.gsm-smartphones}}"><img src="/common-header/img/sections/gsm-subscriptions.png" /><span>GSMs &amp; Smartphones</span></a>
                <a class="widget-cat" href="{{url.overlay.store.tablets}}"><img src="/common-header/img/sections/tablets.png" /><span>Our Tablets</span></a>
                <a class="widget-cat" href="{{url.overlay.store.accessories}}"><img src="/common-header/img/sections/accessories.png" /><span>Find Accessories</span></a>
                <a class="widget-cat" href="{{url.overlay.store.promotions}}"><img src="/common-header/img/sections/promotions.png" /><span>Our Promotions</span></a>
              </div>
            </div>
            <div class="container dark">
              <div class="shoppingcart">
                <div class="info"><strong>{{overlay.store.cart-contains}} <span id="shoppingcart-items">{{overlay.store.cart-empty}}</span> {{overlay.store.cart-articles}}</strong></div>
                <div class="actions" id="shoppingcart-actions">
                  <div class="fade"></div>
                  <a href="{{url.overlay.store.shoppingcart}}" class="button color-white">{{overlay.store.see-shoppingcart}}</a>
                  <a href="{{url.overlay.store.checkout}}" class="button color-green">{{overlay.store.checkout}}</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="nav-item-blog">
          <a href="{{url.blog}}">{{header.bottom.mobistar-blog}}</a>
          <div id="overlay-blog" class="overlay">
            <div class="container">
              <div class="col col-1">
                <h1>Join the discussion</h1>
                <ul class="list list-arrow">
                  <li><a href="#">Read our blog</a></li>
                </ul>
              </div>
              <div id="overlay-blog-sections" class="col col-2">
                <div class="widgets">
                  <a class="widget-green" href="{{url.overlay.blog.sample}}"><span>Mes premiers pas</span></a>
                  <a class="widget-green" href="{{url.overlay.blog.sample}}"><span>Réseaux sociaux &amp; applications</span></a>
                  <a class="widget-green" href="{{url.overlay.blog.sample}}"><span>Trucs &amp; astuces</span></a>
                  <a class="widget-green" href="{{url.overlay.blog.sample}}"><span>Tests</span></a>
                  <a class="widget-green" href="{{url.overlay.blog.sample}}"><span>Vidéos</span></a>
                </div>
              </div>
            </div>
            <div class="container dark">
              <div id="overlay-blog-socialmedia">
                <div class="info"><strong>Follow us</strong></div>
                <div class="widgets">
                  <a href="{{url.facebook}}" class="widget-social facebook">Facebook</a>
                  <a href="{{url.twitter}}" class="widget-social twitter">@Mobistar</a>
                  <a href="{{url.rss}}" class="widget-social rss">Via RSS</a>
                  <a href="{{url.newsletter}}" class="widget-social newsletter">Via newsletter</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="nav-item-hs">
          <a href="{{url.hs}}">{{header.bottom.help-and-support}}</a>
          <div id="overlay-hs" class="overlay">
            <div class="col col-1">
              <h1>Urgences</h1>
              <ul class="list list-arrow">
                <li><a href="#">Use case urgent lorem ipsum et doloris con quiat ?</a></li>
                <li><a href="#">Use case urgent lorem ipsum et doloris con quiat ?</a></li>
                <li><a href="#">Use case urgent lorem ipsum et doloris con quiat ?</a></li>
              </ul>
            </div>
            <div class="col col-2">
              <div class="widgets">
                <a href="{{url.overlay.hs.sample}}" class="widget-green">
                    <img src="/common-header/img/drawings/signal.png" alt="{{overlay.hs.services-mobiles}}" />
                    <span>{{overlay.hs.services-mobiles}}</span>
                </a>
                <a href="{{url.overlay.hs.sample}}" class="widget-green">
                    <img src="/common-header/img/drawings/phone.png" alt="{{overlay.hs.devices}}" />
                    <span>{{overlay.hs.devices}}</span>
                </a>
                <a href="{{url.overlay.hs.sample}}" class="widget-green">
                    <img src="/common-header/img/drawings/wrench.png" alt="{{overlay.hs.tutorials}}" />
                    <span>{{overlay.hs.tutorials}}</span>
                </a>
                <a href="{{url.overlay.hs.sample}}" class="widget-green">
                    <img src="/common-header/img/drawings/textballoon.png" alt="{{overlay.hs.forums}}" />
                    <span>{{overlay.hs.forums}}</span>
                </a>
                <a href="{{url.overlay.hs.sample}}" class="widget-green">
                    <img src="/common-header/img/drawings/letter.png" alt="{{overlay.hs.contact}}" />
                    <span>{{overlay.hs.contact}}</span>
                </a>
              </div>
              <div id="personal-support" class="on-logged-off">
                <span class="info">Bénéficier d’une aide personnalisée et sur mesure</span>
                <div class="actions"><a  href="{{url.overlay.hs.sample}}" class="button color-dark">Identifiez-vous dans votre zone client</a></div>
              </div>
            </div>
          </div>
        </li>
        <li id="nav-item-cz">
          <a href="{{url.cz}}"> {{header.bottom.clientzone}} <span class="button color-green on-logged-off">Log in</span></a>
          <div id="overlay-cz" class="overlay on-logged-off">
            <div id="overlay-cz-info">
              <ul class="list">
                <li>
                  <a href="#">Démo de la zone client</a><br />
                  <span>Bénéficier d’une aide personnalisée et sur mesure</span>
                </li>
                <li>
                  <a href="#">Découvrez tout les avantages de la zone client</a><br />
                  <span>Lorem ipsum et doloris con quiat et ipsum et doloris</span>
                </li>
              </ul>
            </div>
            <div id="overlay-cz-register">
              <h1>Pas encore d’accès</h1>
              <div class="wrap">
                <p>Lorem ipsum et doloris con quiat et ipsum et doloris Lorem ipsum et doloris con quiat et ipsum et doloris</p>
                <a href="{{url.overlay.cz.subscribe}}" class="button color-green width-full">Je m’inscris</a>
                <p><a href="{{url.overlay.cz.subscription-help}}" class="more">Aide à l’inscription</a></p>
              </div>
            </div>
            <div id="overlay-cz-login">
              <h1>Je dispose d’un accès</h1>
              <div class="wrap">
                <form name="Login" id="mob-global-form-login" action="https://sso.mobistar.be/auth/sm/login.fcc" method="POST">
                  <div>
                    <input name="target" value="https://sso.mobistar.be/nl/home" type="hidden">
                    <input name="smauthreason" value="0" type="hidden">
                    <input name="smerrorpage" value="" type="hidden">
                    <input name="smretries" value="0" type="hidden">
                    <input type="text" name="USER" class="formfield-text" value="{{overlay.cz.username}}">
                    <input type="password" name="PASSWORD" class="formfield-password" value="{{overlay.cz.password}}" autocomplete="off">
                    <button type="submit" class="button color-dark">Login</button>
                    <div class="info">Forgot <a href="https://my.mobistar.be/klantenzone/login-vergeten/index.html">login</a> or <a href="https://my.mobistar.be/klantenzone/wachtwoord-vergeten/index.html">password</a>?</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
