<link rel="stylesheet" href="/common-header/css/mob_header_footer_revamp_min.css" />
<script type="text/javascript" src="/common-header/js/mob-gh.min.js"></script>
<script>mobGlobal.lang = "{{language-iso}}";</script>
</head>
<body>
