<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" version="XHTML+RDFa 1.0" dir="ltr">
<head>
<title>Demo Header Footer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">var DEVELOPMENT = true;</script>
<style>
    body {
       margin: 0;
    }
</style>

{{>header-extra}}
{{>header}}

<div id="content"></div>

{{>footer}}
{{>footer-extra}}
